
section.featured
  .container
    .row.justify-content-center
      .col-24
        h2.sub-heading!= page.featured.heading
    .row.justify-content-center.align-items-md-stretch
      each item, i in page.featured.items
        .col-24.col-sm-16.col-md-6
          .product
            a.product__photo(href=item.href)
              img.img-fluid.product__img(src=item.img.link, alt=item.img.alt)
            .product__content
              a.product__name(href=item.href)!= item.name
              .product__descr!= item.city
              .product__options.option
                each option in item.options
                  .option__item
                    .row
                      .col
                        .option__name!= option.name
                      .col
                        if (option.value.links)
                          .option__value.tags
                            each link, num in option.value.links
                              a.tags__link(href=link.href)!= link.name
                              if (num !== (option.value.links.length - 1) )
                                != option.value.delimeter
                            .tags__quantity!= option.value.label

                        else
                          .option__value
                            span.option__number!= option.value.number
                            span.option__descr!= option.value.descr
              .product__btn-group
                .row.align-items-center.justify-content-between
                  .col
                    .product__railway.railway
                      if (item.railway.link)
                        a.railway__link(href=item.railway.link.href)!= item.railway.link.name
                      else
                        span.railway__icon(class='railway__icon--' + item.railway.icon.color)!= item.railway.icon.name
                        != item.railway.name
                  .d-inline-flex.pl-2.pr-2
                    .product__btn-group
                      each btn, key in item.btnGroup
                        button.btn.product__btn(class=key, type='button')
                          i.fa(class=btn, class=key + '--icon')
    .row.justify-content-center
      .col-24.col-sm-16.col-md-auto
        .featured__button-group.show-all
          a.show-all__link.show-all__link--catalog(href=page.featured.btn.href)!= page.featured.btn.name
            i.show-all__icon(class=page.featured.btn.icon)



