header.header
  .container
    .row
      .col-24
        .logo
          img.img-fuid.logo__img(src=content.index.logo.img.src, alt=content.index.logo.img.alt)/
          h1.logo__descr.logo__descr--lg!= content.index.logo.descr
    .row
      .col-24
        .heading!= content.index.h1.text
          .dropdown
            a#dropdownMenuButton.dropdown__toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')!= content.index.h1.localization[0].name
            .dropdown-menu.dropdown-menu--right(aria-labelledby='dropdownMenuButton')
              each item, i in content.index.h1.localization
                if (i > 0)
                  a.dropdown-item(href=item.link)!= item.name
    #carousel-header.row
      each item, i in content.index.header.selection
        .col-24.col-md-8
          .carousel__item
            .tenantry
              .tenantry__value(class=item.modifier)!= item.value
              .tenantry__name!= item.name
              .tenantry__descr!= item.descr
    .row
      .d-md-flex.flex-row-reverse.justify-content-center.header__btn-group
        each item in content.index.header.btns
          a.btn.header__btn.header__btn--inverse(class=item.class, href=item.link)!= item.text