.legal-info
  h3.h3-heading.legal-info__heading!= content.product.legal.heading
  .legal-info__links
    a.legal-info__link(href=content.product.legal.pdf.href)
      i.legal-info__icon(class=content.product.legal.pdf.icon)
      != content.product.legal.pdf.text
    a.legal-info__link.legal-info__link--download(href=content.product.legal.download.href)!= content.product.legal.download.name
  .legal-info__term!= content.product.legal.term.heading
    span.legal-info__term.legal-info__term--value!= content.product.legal.term.text
