section.shop
  .container
    .row
      .col-24
        h2.sub-heading.shop__heading!= content.index.shop.heading.name
          span.sub-heading.sub-heading--orange!= content.index.shop.heading.orange
    .row.align-items-center.justify-content-around
      each item in content.index.shop.items
        .col-9.col-md-6.col-lg-auto.shop__item
          .d-flex.align-items-center.client
            a.client__link(href=item.link.href)
              img.img-fluid.client__img(src=item.img.src, alt=item.img.alt)
    .row
      .col-24
        .shop__btn-group
          button.btn.btn--showall.shop__btn.shop__btn--showall(type='button')!= content.index.shop.btn.text
            i.fa.shop__btn-icon(class=content.index.shop.btn.icon)
