section.sort
  .container
    .row.justify-content-between.align-items-center
      .col-10.col-md-24.col-lg-auto
        h2.sort__heading!= content.catalog.sort.heading
      .col-14.hidden-md-up
        .dropdown.dropdown--sorting
          a#dropdown-sort.dropdown__toggle.dropdown__toggle--sorting.sorting.sorting--active.sorting--down(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.sorting__name!= content.catalog.sort.left[0].name
            i.fa.sorting__icon.sorting__icon--down(class=content.catalog.sort.left[0].icons.down)
            i.fa.sorting__icon.sorting__icon--up(class=content.catalog.sort.left[0].icons.up)
          .dropdown-menu.dropdown-menu--fullwidth(aria-labelledby='dropdown-sort')
            each link, i in content.catalog.sort.left
              if (i > 0)
                a.dropdown-item.text-center.sorting(href=link.href)!= link.name
                  i.fa.sorting__icon.sorting__icon--up(class=link.icons.up)
                  i.fa.sorting__icon.sorting__icon--down(class=link.icons.down)
      .col.hidden-sm-down
        .row.justify-content-start.align-items-center
          each item, i in content.catalog.sort.left
            .d-inline-flex.pl-2.pr-2
              a.sort__link.sorting.sorting--filter(href="#" class={'sorting--down sorting--active' : i === 0})
                span.sorting__name
                  != item.name
                i.sorting__icon.sorting__icon--up(class=item.icons.up)
                i.sorting__icon.sorting__icon--down(class=item.icons.down)
      .col
        .row.justify-content-between.justify-content-sm-around.justify-content-md-end
          each item, i in content.catalog.sort.right
            .d-inline-flex.pl-2.pr-2
              a.sort__link.view(id=item.id, class={'view--active': i === 1},href="#")
                span.view__name
                  i.view__icon(class=item.icon)
                  != item.name

